<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Jonathan Poso</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/personal_page/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="/static/personal_page/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/personal_page/resume.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Jonathan Poso</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/static/personal_page/img/me.jpeg" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#awards">Awards</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Jonathan
          <span class="text-primary">Poso</span>
        </h1>
        <div class="subheading mb-5">Silicon Valley, CA· (209) 988-6811 ·
          <a href="mailto:jonposo@gmail.com">jonposo@gmail.com</a>
        </div>
        <p class="lead mb-5">Hello there! I am a self-taught software engineer and full stack web developer. I attended San Jose State University on a Piano Performance Scholarship and graduated in 2010 with a English Literature degree. Throughout my twenties I held multiple management positions in the hospitality field before discovering my passion for coding. I spent over a year learning and exploring different technologies and eventually decided to enroll in a coding bootcamp to hone my skills where I learned three full technology stacks within three months.</p>
        <p class= "lead mb-5">I have a passion for learning and I have discovered coding gives me the same sense of wonder that music has for my entire life. Currently, I am looking for a role with a great team that will provide me with a chance to expand my developing skills and give me the opportunity to contribute in a meaningful way.</p>
        <!-- <p class= "lead mb-5">  <a href="/static/personal_page/resume/Jonathan Poso - Resume.pdf">Resume</a></p> -->
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/jonathan-poso-7a353547">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/Stormlight-Coding">
            <i class="fab fa-github"></i>
          </a>
          <a href="/static/personal_page/resume/Jonathan Poso - Resume.pdf">
            <img src="/static/personal_page/resume-icon.png" style="width: 50px; height:35px; margin-top: -6px;" alt="resume">
          </a>

        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Personal Projects</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Smart-List</h3>
            <div class="subheading mb-3"><a href="https://www.youtube.com/watch?v=PWZoVjEnCrc&feature=youtu.be">Video Demo</a>  |  <a href="/smartlist">Screenshots</a></div>
            <ul>
              <li>Helps users prioritize their tasks by providing a multitude of resources (videos, articles, links).</li>
              <li>Created in 10 hours with a team of three. Implemented the YouTube APIs and custom search options.</li>
              <li>Made with Python, Django, jQuery, Materialize, NGINX, CSS, mySQL, Google Custom Search, YouTube and Facebook Login API</li>
              <li>Deployed using AWS</li>
              <li>Python Hack-a-thon First Place Award.</li>
            </ul>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary"></span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Algo-Alarm</h3>
            <div class="subheading mb-3"><a href="https://www.youtube.com/watch?v=y3VM_gRlicc&feature=youtu.be">Video Demo</a>  |  <a href="/algo">Screenshots</a></div>
            <ul>
              <li>Created in 10 hours with a team of four. iOS Hack-a-thon First Place Award.</li>
              <li>A unique alarm that enables the user to wake up by utilizing Apple’s Core Motion.</li>
              <li>The alarm does not stop until the user rotates the device based on a randomly generated prompt.</li>
              <li>Made with Swift & Xcode</li>
              <li>iOS Hack-a-thon First Place Award.</li>
            </ul>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary"></span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Barry's Berries</h3>
            <div class="subheading mb-3"><a href="https://www.youtube.com/watch?v=NhdO8e9nObc&feature=youtu.be">Video Demo</a>  |  <a href="/barry">Screenshots</a></div>
            <ul>
              <li>Children’s game built for iOS.</li>
              <li>The player has a limited amount of time to find all of the berries generated randomly using the iOS Mapkit. </li>
              <li>The game is won if time does not expire and the player finds more good berries than bad.</li>
              <li>Made with Swift & Xcode</li>
              <li>iOS Hack-a-thon First Place Award.</li>
            </ul>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary"></span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">STRATA</h3>
            <div class="subheading mb-3"><a href="spotify:artist:0MLKfDfrr2LvUqZxBvYLTv">Spotify Page</a></div>
            <ul>
                <li>Keyboard and Synth Player in a band of four.</li>
              <li>Self-managed</li>
              <li>Featured on Sirius XM and Alt Nation 105.3.</li>
              <li>Similar to a start-up, there is a lot of trial and error, competition, investment, a lot of work, and collaboration.</li>
            </ul>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary"></span>
          </div>
        </div>

      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">San Jose State University</h3>
            <div class="subheading mb-3">Bachelor of Arts, English Literature</div>
            <ul>
              <li>Received MTAC and SJSU Scholarship for Music Achievement (Piano Performance).</li>
              <li>Served as President Washburn Hall’s Student Government. Awarded “Hall of the Year”.</li>
            </ul>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2005 - May 2010</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Coding Dojo</h3>
            <div class="subheading mb-3">Software Engineering Program</div>
            <ul>
              <li>Dedicated over 1000+ hours of coding experience, including the ability to deploy a full website from client to server to database while acquiring the knowledge and skills for full stack web development. (Python, Swift, MEAN).</li>
            </ul>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">July 2017 - January 2018</span>
          </div>
        </div>

      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        <ul class="list-inline dev-icons">
          <li class="list-inline-item">
            <img src="/static/personal_page/python.png" style="width: 65px" alt="python">
          </li>
          <li class="list-inline-item">
            <img src="/static/personal_page/django.png" style="width: 65px" alt="django">
          </li>
          <li class="list-inline-item">
            <img src="/static/personal_page/javascript-logo.png" style="width: 50px; height: 65px" alt="JavaScript">
          </li>
          <li class="list-inline-item">
            <img src="/static/personal_page/html.png" style="width: 65px" alt="html">
          </li>
          <li class="list-inline-item">
            <img src="/static/personal_page/mySQL.png" style="width: 65px; height: 70px" alt="mySQL">
          </li>
          <li class="list-inline-item">
            <img src="/static/personal_page/flask.png" style="width: 65px" alt="flask">
          </li>
          <li class="list-inline-item">
            <img src="/static/personal_page/bootstrap-logo.png" style="width: 65px" alt="bootstrap">
          </li>
          <li class="list-inline-item">
            <img src="/static/personal_page/fire.png" style="width: 65px" alt="fire">
          </li>
          <li class="list-inline-item">
            <img src="/static/personal_page/git.png" style="width: 65px" alt="git">
          </li>
          <li class="list-inline-item">
            <img src="/static/personal_page/github.png" style="width: 65px" alt="github">
          </li>
          <li class="list-inline-item">
            <img src="/static/personal_page/ios.png" style="width: 65px" alt="ios">
          </li>
          <li class="list-inline-item">
            <img src="/static/personal_page/Materialize.png" style="width: 65px" alt="Materialize">
          </li>
          <li class="list-inline-item">
            <img src="/static/personal_page/mongoDB.png" style="width: 65px" alt="mongodb">
          </li>
          <li class="list-inline-item">
            <img src="/static/personal_page/node.png" style="width: 65px" alt="node">
          </li>
          <li class="list-inline-item">
            <img src="/static/personal_page/postgresql-logo.png" style="width: 65px" alt="postresql">
          </li>
          <li class="list-inline-item">
            <img src="/static/personal_page/ruby.png" style="width: 65px" alt="ruby">
          </li>
          <li class="list-inline-item">
            <img src="/static/personal_page/squile.png" style="width: 65px" alt="sqlite">
          </li>
          <li class="list-inline-item">
            <img src="/static/personal_page/swift.png" style="width: 65px" alt="swift">
          </li>
          <li class="list-inline-item">
            <img src="/static/personal_page/typescript.png" style="width: 65px" alt="typescript">
          </li>
          <li class="list-inline-item">
            <img src="/static/personal_page/angular.png" style="width: 65px" alt="angular">
          </li>
          <li class="list-inline-item">
            <img src="/static/personal_page/amazon.png" style="width: 65px" alt="amazon">
          </li>
          <li class="list-inline-item">
            <img src="/static/personal_page/json.png" style="width: 65px" alt="json">
          </li>

        </ul><br><br>

        <div class="subheading mb-3">With a Focus On:</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Back-End Development</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Restful APIs</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Cross Functional Teams</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Debugging &amp; Test Driven Development</li>
        </ul>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <p>Outside of software engineering, I enjoy camping and backpacking around the Bay Area as well as making annual trips to Yosemite. I also love to dive into a good fantasy novel (Rothfuss and Sanderson are my current favorites) as well as binging on a good tv show.</p>
        <p class="mb-0">I've also had a passion for music at a very young age when I started teaching myself piano. After studying music through college, I now play at local venues as a side gig and am a member of the band STRATA where we have been featured on Sirius XM radio and Alt Nation 105.3.</p>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
      <div class="w-100">
        <h2 class="mb-5">Awards &amp; Certifications</h2>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>

            Python Hack-a-thon First Place Award - "Smart-List" 2017</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            iOS Hack-a-thon First Place Award - "Algo-Alarm" 2017</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            iOS Hack-a-thon First Place Award - "Barry's Berries" 2017</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Coding Dojo Certification - Web Development 2017</li>
          <li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              Leader of the Quarter 2014</li>
            <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Hall of the Year - President 2006</li>
        </ul>
      </div>
    </section>

  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/personal_page/vendor/jquery/jquery.min.js"></script>
  <script src="/static/personal_page/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/personal_page/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/personal_page/js/resume.min.js"></script>

</body>

</html>
